@font-face { font-family: dragon; src: url('../font/DragonForcE.ttf'); } 
@font-face { font-family: dracula; src: url('../font/blooods_.ttf'); } 
@font-face { font-family: snorkad; src: url('../font/Snorkad-Regular.ttf'); } 
html{
  font-family:snorkad;
}

body{
  background-image: url('../img/back-ground.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#container{
  align-items: center;
}

#header{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.name{
  font-size: 100px;
  align-items: center;
  color: white;
}


#nav{
  display: flex;
  justify-content: center;
  gap: 50px;
}

#nav button{
  font-family: snorkad;
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  list-style: none;
  border: 5px solid silver;
  border-radius: 15px;
  color: darkred;
  background-color:#e1ad01;
  width: 290px;
  height: auto; 
}

#nav button:hover{
  background-color: rgba(225, 173, 1,0.8);
  color: white;
}

#warArea{
  width: 1068px;
  height: 675px;
  margin:auto;
  /* margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px; */
  background-color: rgba(49, 82, 59, 0.8);
  border: 5px solid white;
  border-radius: 15px;
}
.choose{
  position: relative;
  top: 30px;
  text-align: center;
  color: #e1ad01;
}

.option{
  display: flex;
  justify-content: center;
  gap: 150px;
}

.rock,
.paper,
.scis{
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e1ad01;
  margin-top: 50px;
}

.rock:hover{
  background-color: silver;
}

.paper:hover{
  background-color: silver;
}

.scis:hover{
  background-color: silver;
}

.rock:active{
    transform: scale(0.95) ;
  }

.paper:active{
    transform: scale(0.95) ;
  }
.scis:active{
    transform: scale(0.95) ;
  }

.message{
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 20px;
  color: #e1ad01;
}

.character{
  display:flex;
  justify-content: center;
  gap: 150px;
  position: relative;
  top: 20px;
  font-size: 60px;
  color: #e1ad01;
}

.scoreboard{
  display:flex;
  justify-content: center;
  gap: 200px;
  position: relative;
  top: 15px;
  font-size: 60px;
  color: #e1ad01;
}

.your,
.orc{
  display: flex;
}

.roundMes{
  text-align: center;
  font-size: 25px;
  color: #e1ad01;
  margin-top: 10px;
}

.endGameBackground{
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mesContainer {
  position: relative;
  text-align: center;
  color: white;
}

.endGameMes {
    color: darkred;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.close {
  color: white;
  float: right;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top:70px;
  right: 525px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}